nav {
  /* background-color: rgb(127, 127, 235); */
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style: none;
}

nav ul li a {
  padding: 1em 1em;
  text-decoration: none;
  line-height: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #636059;
}

a[class="active"] {
  color: #5d9cec;
  text-decoration: underline;
  text-underline-position: under;
}

.nav-logo {
  padding-left: 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #3a3936;
}

.btn {
  align-items: center;
  background: none;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: #636059;
  line-height: normal;
  cursor: pointer;
}

.settingRow {
  border: red solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
