h1 {
  font-weight: 600;
  font-size: 2em;
  color: #3a3936;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: #3a3936;
  font-family: "Montserrat", sans-serif;
}

ul {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
}

.container {
  display: block;
  padding: 2% 5% 5% 5%;
}

.social-media-header {
  display: flex;
  justify-content: center;
}

.social-media-header > div {
  margin: 0 2em 2em 2em;
}

.margin-right-10px {
  margin-right: 10px;
}

.link-text {
  text-decoration: none;
  font-size: 1.2em;
  color: #636059;
}

.text-align-center {
  text-align: center;
}

.entry {
  padding-left: 2%;
  color: #636059;
}

.bar {
  border-top: 1px solid #ccc;
}

/* applied to btn */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btnLimeGreen {
  display: flex;
  align-items: center;
  background-color: #a0d468;
  border-style: none;
  border-radius: 24px;
  box-shadow: #0000004d 0 3px 5px -1px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #3a3936;
  line-height: normal;
  cursor: pointer;
  padding: 2px 24px;
}

.btnLarge {
  height: 60px;
  font-size: 1em;
}

.btnMedium {
  height: 40px;
  font-size: 0.8em;
}

.btn-div {
  margin-top: 15px;
  margin-bottom: 25px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-top {
  margin-top: 40px;
}
